@media screen and (max-width: 480px) {
  * {
    background-color: #2C2E43;
  }
.text_important{
	margin: 35px 35px;
	color: #FFD523;
	text-align: center;
	font-size: 35pt;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0px;
	font-weight: 900;
	animation-name: text;
	animation-duration: 3s;
	cursor: pointer;
}
@keyframes text{
 from{color: #504D4D;}
 to{color: #FFD523;}
}
.button a{
	display: block;
	text-decoration: none;
  color: #FFD523;
  background-color: transparent;
  font-size: 20pt;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  border: 5px solid #FFD523;
  border-radius: 30pt;
  padding: 15px 0px;
	margin: 15px 20%;
	transition-duration: .3s;
}
.button a:hover{
	margin: 15px 15%;
}
}