@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');
/*font-family: 'Nunito', sans-serif;*/
*{
	background-color: #2C2E43;
}
.text_important{
	margin: 60px 60px;
	color: #FFD523;
	text-align: center;
	font-size: 40pt;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 30px;
	font-weight: 900;
	text-shadow: 0 0 50px #FFD523;
	animation-name: text;
	animation-duration: 3s;
	cursor: pointer;
}
.button a{
	display: block;
	text-decoration: none;
  color: #FFD523;
  background-color: transparent;
  font-size: 20pt;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  border: 5px solid #FFD523	;
  border-radius: 30pt;
  padding: 15px 0px;
	margin: 30px 38%;
	animation-name: text;
	animation-duration: 3s;
	transition-duration: .3s;
}
.button a:hover{
	margin: 30px 35%;
	box-shadow: 0px 0px 90px #FFD523;
}
.button a:focus{
  background-color: #FFD523;
  color: #2C2E43;
}
.paragraf{
	text-align: center;
	background-color: transparent;
	font-family: 'Nunito', sans-serif;
	font-size: 20pt;
	margin-top: 40pt;
	color: #595260;
}

@keyframes text{
 from{opacity: 0;}
 to{opacity: 1;}
}
